* {
  font-style: unset;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.Navbar-background {
  height: 80px;
  background-color: #040f0f;
  display: flex;
  justify-content: space-between;
}
.Logo {
  align-self: end;
  width: 80px;
}
.Logo-text {
  height: 80px;
}
.flex-item-1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.sub-menu {
  align-self: center;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  padding-inline: 50px;
  border-right: solid white 5px;
  cursor: pointer;
}
.flex-item-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up {
  background-color: #d62828;
  font-size: 25px;
  padding-inline: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: solid black 10px;
  border-right: solid black 10px;
  align-self: center;
  color: white;
}
