.Formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Titulo{
    /* margin: 2% 26% 0% 35%; */
    position: relative;
    color: white;
    font-size: 30px;
    background-color: #040f0f;
    border-bottom: 8px solid #170312;
    border-top: 8px solid #170312;
    border-right: 20px solid #170312;
    
    z-index: 5;
 
}
.Titulo-2{
    /* margin: 2% 3% 5% 40%; */
    position: relative;
    color: white;
    font-size: 30px;
    background-color: #040f0f;
    border-bottom: 8px solid #170312;
    border-top: 8px solid #170312;
    border-right: 20px solid #170312;
    z-index: 4;
   
}
.label{
    font-weight: bolder;

}
.input{
    width: 140%;
}
.MoviendoElBoton{
    margin: 2%;
    padding-bottom: -5%;
    margin-left: 6%;
    margin-bottom: 9%;
}