.Formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.Titulo{
    position: relative;
    color: white;
    font-size: 30px;
    background-color: #040f0f;
    border-bottom: 8px solid #170312;
    border-top: 8px solid #170312;
    border-right: 20px solid #170312;
    text-align: center;
    z-index: 5;
 
}
.Titulo-2{
    text-align: center;
    position: relative;
    color: white;
    font-size: 30px;
    background-color: #040f0f;
    border-bottom: 8px solid #170312;
    border-top: 8px solid #170312;
    border-right: 20px solid #170312;
    z-index: 4;
   
}
.label{
    font-weight: bolder;
    align-self: center;
    justify-content: center;
    margin-left: 30%;
}
.input{
    width: 40%;
    align-self: center ;
    justify-content: center;
    margin-left: 30%;
}
.botones{
    align-self: center;
    width: 20%;
}
#userName{
    align-self: center;
    justify-content: center;
}